@import "./colors";
.footer{
    width: 100%;
    background-color:$main-background;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    &__section{
        width: 80%;
        display: flex;
        justify-content: space-between;
    }
    &__logo{
        width: 200px;
    }
    &__title{
        text-transform: uppercase;
        margin: 40px 0 0 0;
        font-size: 26px;
        line-height: 30px;
    }
    .list{
        list-style: none;
        padding: 0;
        margin: 0;
        &__contact-links{
            margin: 5px 0;
        }
        &__contact-links a{
            color: $white;
            text-decoration: none;
            
        }
        &__contact-links a:hover{
            text-decoration: underline;
        }
    }
}