.header{
    font-family: 'Montserrat-Black', sans-serif;
    width: 100%;
    background-color: rgb(29, 14, 65);
    color: white;
    display: flex;
    justify-content: center;
    &__section{
        width: 1400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 300px;
    }
    &__title{
        margin: 10px 0 0 0;
        font-size: 40px;
        line-height: 44px;
        letter-spacing:2px;
    }
    &__subtitle{
        margin: 0px;
        font-size: 28px;
        line-height: 32px;
    }
    .form{
        &__input{
            width: 500px;
            padding: 10px;
            border-radius: 20px;
        }
        &__submit{
            padding: 10px 15px;
            border-radius: 20px;
            background-color: rgb(166, 232, 232);
            font-weight: bold;
            font-size: 18px;
            line-height: 22px;
            &:hover{
                cursor:pointer;
                background-color: rgb(103, 172, 172);
                color: white;
            }
        }
        
    }
}