@import "./colors";

.header{
    width: 100%;
    background-color:$main-background;
    color: $white;
    display: flex;
    justify-content: center;
    &__section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 300px;
    }
    &__title{
        margin: 15px 0 0 0;
        font-size: 40px;
        line-height: 44px;
        letter-spacing:2px;
    }
    &__subtitle{
        margin: 0px;
        font-size: 28px;
        line-height: 32px;
    }
    .form{
        &__input{
            width: 500px;
            padding: 10px;
            border-radius: 20px;
        }
        &__submit{
            padding: 10px 15px;
            border-radius: 20px;
            background-color: $light-violet;
            font-weight: bold;
            font-size: 18px;
            border: none;
            line-height: 22px;
            &:hover{
                cursor:pointer;
                background-color: $main-violet;
                color: white;
                border: none;
            }
        }
        
    }
}

