@import "~normalize.css";
@import "./header";
@import "./footer";
@import "./movie";

.container{
    font-family: "Montserrat-Black", sans-serif;
    display: flex;
    justify-content: center;
}
.popular__section,.top-rated__section, .upcoming__section{
    flex-wrap: wrap;
    justify-content: center;
}
.name-part{
    font-family: 'Montserrat-Black', sans-serif;
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 0px;
    text-align: center;

}

