@import "~normalize.css";
.popular{
    display: flex;
    flex-wrap: wrap;
}
.containerMovie{
    margin: 10px;
}
.movie-photo{
    border-radius: 20px;
    box-shadow: inset 4px 4px 5px rgba(164, 14, 174, 0.5), 4px 4px 5px rgb(199, 120, 191);
}
.title{
    font-size: 14px;
    line-height: 18px;
    font-family: 'Montserrat-Black', sans-serif;
    
}
